.banner {
    background-color: #4ca1fc; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 150px; 
    margin-bottom: 30px;
    max-width: 1400px; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .banner h1 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .banner p {
    font-size: 14px;
    margin: 0;
  }
  
  .contact-page {
    display: flex;
    justify-content: space-around;
    padding: 80px 20px;
    gap: 0px; 
    background-color: #f9f9f9;
  }
  
.contact-info {
    width: 25%; 
    padding-right: 10px;
  }
  
  .contact-item {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .contact-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-item p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .support-btn {
    background-color: #4ca1fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .support-btn:hover {
    background-color: #0044ff;
  }
  
  .contact-form-container {
    width: 40%; 
    max-width: 600px;
  }
  
  .contact-form-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #4ca1fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
